results/*
results_replica/*
configs/*
logs/*
data/*

BERT_models/*

check_run.py
copy_data.py
move_files.py
test_apertus.py
copy_basic_files.py
extract_sample.py
generate_stats.py

# Byte-compiled / cache files
__pycache__/
*.py[cod]

*.json
*.json.lock
*.csv
*.png
environment.yml