results/*
configs/*
logs/*
data/personas_and_tweets.df.pkl
bluesky_data.pkl
twitter_data.pkl
reddit_data.pkl

BERT_models/*

check_run.py
copy_data.py
move_files.py
test_apertus.py
copy_basic_files.py
extract_sample.py
generate_stats.py

# Byte-compiled / cache files
__pycache__/
*.py[cod]

*.json
*.json.lock
*.csv
*.png
*.yml